/* General Reset */
body, h1, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: url(../vis/crowd_crop.svg); /* Replace with the correct image format */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center bottom;
    background-size: contain; /* Or 'cover' if you want it to fill the viewport */
    overflow-x: hidden;
}

  /*
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }*/
  
  header {
    background-color: #f0d156; /* Yellow background */
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .art-container img {
    max-width: auto;
    height: auto;
  }
  